.bgcol
{
    background-color: #F9F9F9;
}

.navbar-brand
{
    color: #1181C8;
    font-size: 50px;
    margin-left: 150px;
}

/* .navbar-brand:hover
{
    color: #1181C8;
} */

#navbarNav
{
    font-size: 25px;
    margin-right: 150px;
    color: black;
}

hr
{
    margin: 0px 150px;
    margin-top: 5px;
    border-width:3px;
    border-color: black;
}

.begText
{
    margin-left: 150px;
    margin-top: 60px;
    text-align: left;
    font-size: 55px;
    line-height: 30px;
}

.loginForm
{
    margin: 50px 0px 0px 150px;
}

.loginData
{
    border-radius: 3px;
    font-size: 15px;
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
    border-width: 1px;
}

.passTog
{
    margin-left: -30px;
    cursor: pointer;
}

.or
{
    margin-left: 347px;
}

.newLogin
{
    margin-top: 20px;
    margin-left: 150px;
    border-radius: 3px;
    font-size: 15px;
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
}

.mainText
{
    float: left;
}

.image
{
    margin-top: 60px;
    margin-left: 50px;
    width: 560px;
    height: 550px;
}

/*  */

.info
{
    background-color: white;
    margin-top: 30px;
    min-height: 530px;
}

.infoimg
{
    float: left;
    width: 500px;
    height: 500px;
    margin-left: 100px;
}

.infoHead
{
    margin-top: 20px;
    padding-top: 100px;
    padding-left: 700px;
}

.infoHead2
{
    /* margin-top: 50px; */
    /* padding-top: 100px; */
    padding-left: 700px;
    margin-bottom: 50px;
    font-size: 40px;
}

.infoText
{
    text-align: center;
    padding-left: 450px;
    font-size: 30px;
}

.footer
{
    padding-top: 30px;
    background-color: #EEEEEE;
    min-height: 300px;
    /* float: left; */
}

.footer-head
{
    padding-left: 40px;
    padding-bottom: 10px;
}

.contact-list {
    float: left;
}


.contact-icon
{
    padding: 7px 10px;
}

.icon-name
{
    padding-left: 15px;
}

.fa-facebook, .fa-instagram, .fa-twitter
{
    color: black;
}

.icon-tag
{
    text-decoration: none;
    color: black;
}

.header-name, .copyright
{
    padding-left: 1000px;
}

